*{
    font-family: 'Candara', sans-serif;
}
body{
    min-height: 200%;
}
.main{
    overflow: auto;
}
.card {
    display:inline-block;
    width: 330px;
    font-weight: bolder;
    font-size: 20px;
}
.card-footer-center{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.text-muted{
    color: darkslategrey;
    font-size:18px;
    font-weight: bolder;
}
.nav-link{
    color: white;
}
h3{
    font-weight: bolder;
}
.nav-link:hover{
    color: pink;
}
[role="button"][aria-pressed="true"] {
    color: white;
    background-image: linear-gradient(to bottom, rebeccapurple 20%, #CD295A 100%);
    border-color: hotpink;
    font-size: 37px;
    width: 220px;
    height: 130px;
    text-align: center;
}
form, .form{
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-weight: bold;
}

[role="button"][aria-pressed="true"]:hover,
[role="button"][aria-pressed="true"]:active{
    color: pink;
    background-position: left;
    border-color: pink;
    width: 240px;
    height: 150px;
}
.MainOptions{
    margin-top: 100px;
    display: flex; justify-content: center;
}
.btn-info:active{
    background-color: #CD295A;
}
.badge{
    font-size: 20px;
    background-color: white;
    color: #CD295A;
}
.badge:hover, .badge:active{
    font-size: 35px;
    background-color: #182a3f;
    color: #CD295A;
}
h1{
    color: #182a3f;
}